// Native font stack, see https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/ .
// Note: "Roboto" was put a little bit lower on that list because we're using Google Maps, which loads the Roboto font.
// To avoid some crazy hacks to suporess this loading behavior, we'll put it somewhere lower so that it's only used on Android.
$base-font-family:
  // Safari for OS X and iOS (San Francisco)
  -apple-system,
  // Chrome >= 56 for OS X (San Francisco), Windows, Linux and Android
  system-ui,
  // Chrome < 56 for OS X (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Segoe UI",
  // KDE
  "Oxygen",
  // Ubuntu
  "Ubuntu",
  // Gnome
  "Cantarell",
  // FF OS
  "Fira Sans",
  // Android
  "Roboto",
  // Older android versions
  "Droid Sans",
  // Basic web fallback
  "Helvetica Neue",
  Arial, sans-serif;

// Colors
$primary-font-color: #F0F0F0;
$primary-bg-color: #212121;
$header-footer-bg-color: #000000;
$header-footer-font-color: #F0F0F0;

$darcula-bg-color: #2B2B2B;
$darcula-color: #A9B7C6;


// Sizes
$header-height: 50px;

